---
page_title: "{{.ProviderShortName}} Provider"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{ .ProviderShortName | upper }} Provider

The Xen Orchestra provider is used to interact with the resources supported by [Xen Orchestra](https://github.com/vatesfr/xen-orchestra). The provider needs to be configured with the proper credentials before it can be used.

## Requirements

* Terraform 0.12+
* Xen Orchestra 5.50.1


## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
